<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868966217261-a72ti987toa6qir5krvonpi77ps3n1ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868966217261-a72ti987toa6qir5krvonpi77ps3n1ne</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>868966217261-83aj4hruo75l3app9gh7ogiq2r00v7vc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ3gObmWaYD_RT3oGwKtC1o62hgdwHd8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>868966217261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.backupapp</string>
	<key>PROJECT_ID</key>
	<string>login-app-b4ed8</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app-b4ed8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868966217261:ios:53bf5e9c82ecc20d906aa4</string>
</dict>
</plist>